@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
  background-color: white;
  color: #778873;
}

